[submodule "np-schedulability-analysis"]
	path = np-schedulability-analysis
	url = https://github.com/brandenburg/np-schedulability-analysis
[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/mive93/matplotlib-cpp
